body {
	background: linear-gradient(90deg,rgba(36, 36, 46, 1) 0%, rgba(0, 21, 79, 1) 35%, rgba(0, 20, 74, 1) 100%);
	margin: 0px;
	background: #24242e;
	padding: 0;
}





.buttons{
margin: 20px;

}

button{
padding: 15px;
margin:20px;
font-size:16px;
cursor:pointer;
border:none;
width: 130px;

}

#buyBtn{
background:green;
color:white;
}

#sellBtn{
background:red;
color:white;
margin-left: 20px;
}

.chart {
    width: 1200px;
	height: 800px;
	margin: 5px;
}


.menu{
	width: 400px;
	height: 500px;
	outline: 2px solid black;
	margin-left: 1450px;
	margin-top: -740px;
  display: flex;
  flex-direction: column;
  align-items:center;
}


#price{
 width: 360px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
color: white;
font-size: 20px;
font-style: italic;
display: flex;
flex-direction: column;
}

#tradel{
width: 900px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
  background-color: rgb(23, 46, 26);
  margin-top: 50px;
}

#trades{
  width: 900px;
  border: 2px solid rgb(65, 30, 30);
  padding: 20px;
  margin: 20px;
  background-color: rgb(59, 0, 87);
  margin-top: 50px;
}


.trades{

width: 1280px;
  height: 300px;
  padding: 10px;
  border: 1px solid rgb(1, 0, 80);
  margin: 20px;
  background-color: #1b1b61;
  margin-top: 300px;
}

#money{
display: block;
font-family: sans-serif;



}